/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* miama font */
 @import url('https://fonts.cdnfonts.com/css/miama');

                
 /* <<<<<<<<<<<<<<<<<<<<<<<<<<SHARED STYLES>>>>>>>>>>>>.>>>>>>>>>>>>>>>>>>>> */

 *{
    font-family: Inter;
    /* background: #000; */
    

 }



/* >>>>>>>>>>>>>>>>Nav styles */
.header{
    /* background: linear-gradient(to right, 
    #000000
    ,
    #434343);    */
    background: linear-gradient(180deg, #000000, #404040, #000000);
    /* background: linear-gradient(to right, #000000, #404040); */
    /* background: linear-gradient(to bottom, #000000, #404040); */
}
.navigation{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}
.nav-ul{
    text-decoration: none;
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 0.95rem;
    font-weight: 600;
    text-align: center;
    gap: 2.5rem;
    align-items: center;
}
.nav-li{
    font-weight: 400;
    list-style: none;
    font-size: 1rem;
    
}
#fit{
    color: #E6533C;
    font-family: Inter;
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
    
}
#home{
    border-radius: 46px;
    background: #E6533C;
    color: #FFF;
    font-size: .95rem;
    padding: 7px 17px;    

}
/* >>>> BANNER STYLES */
.banner{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    
}
.banner-heading{
    font-size: 4.25rem;
    color: #FFF;
    font-weight: 700;

}    
.banner-content{
    width: 100%;
    height: 100%;
}
#shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;                                       
}
.banner-description{
    color: rgba(255, 255, 255, 0.50);
    font-size: .9rem;

}
#btn-a{
    border-radius: 42px;
    background: #E6533C;
    padding: 14px 35px;
    border: none;
    color: #FFF;
    font-weight: 600;
    margin-right: 10px;

}
#btn-b{
    color: #FFF;
    border-radius: 42px;
    border: 1px solid #FFF;
    background-color: #000000;    
    padding: 14px 35px;
    font-weight: 600;
}

.btn-container{
    display: flex;
}



.banner-img{
    /* background: url(<path-to-image>) lightgray -451.558px 0px / 267.675% 100.345% no-repeat;     */
    /* background: linear-gradient(to right, 
    #000000
    ,
    #434343); */
    background-image: url(/B10A2-versatile-ui/images/Images\ 2.png);
    width: 100%;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 600px;
}
.card-a{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    /* background:gray; */
    backdrop-filter: blur(10px);
    width: 180px;
    height: 100px;
    padding-left: 20px;
    /* padding: 20px; */
    gap: 10px;
    transform: translateY(-200px);
    margin-left: -40px;
}
.card-b{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    width: 160px;
    height: 100px;
    padding-left: 40px;
    padding-bottom: 10px;
   margin-top: -600px;
   transform: translateX(200px);




}
#card-number{
    font-size: 1.28rem;
    color: var(--Text-1, #FAFAF9);
   margin-bottom: 10px;

}
#card-number2{
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}


#card-descriptio{
    color:white;
    font-size: 30px;
    /* margin-top: 20px; */
    color: var(--Text-2, rgba(239, 237, 232, 0.65));

}
#card-description2{
    font-size: .7rem;
    margin-top: -20px;
    color: rgba(255, 255, 255, 0.65);

}

/* <<<<<<<  Habits Section Styles */

.habits{
    background: #000;

}
.habits-title{
    font-size: 2.625rem;
    text-align: center;
    margin-top: 0px;
    padding-top: 88px;
    color: #FFF;
    font-weight: 900;

}
.habits-description{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    padding-bottom: 50px;


}


.habits-container{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.habit-img {
    border-radius: 50%;

}
.habit{
    text-align: center;
}
.habit-title{
    color: #FFF;
    font-size: 1.1rem;
    /* margin-left: 40px; */
    font-weight: 600;

}
.habit-description{
    color: rgba(255, 255, 255, 0.50);
    font-size: .85rem;
    font-weight: 400;

}

#hamburger{
    width: 20px;
    display: none;

}

/* >>>>.  Run section styles */

.run{
    background: #000;
    padding-top: 88px;

}

.run-all{
    border-radius: 18px;
    background: #222;    
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
}
.run-container{
    gap: 10px;
}
.run-title{
    font-size:2.65rem;
    color: #FFF;
    font-weight: 800;
}
.run-description{
    color: rgba(255, 255, 255, 0.50);
    font-size: .85rem;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 20px;
}
.run-btn{
    border-radius: 42px;
    background: #E6533C;
    color: #FFF;
    font-size: 1rem;
    padding: 12px 40px;
    border: none;
    
}
.run-img{
    width: 350px;
}
.run-img img{
    width: 100%;
    border-radius: 18px;
}



/* responsive for Smaller Devices (Mobile devices) */

@media screen and (max-width:576px){
    .nav-ul{
        display: none;
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
        <rect x="10" y="34.4" width="28" height="3.2" fill="white"/>
        <rect x="10" y="26.4" width="28" height="3.2" fill="white"/>
        <rect x="10" y="18.4" width="28" height="3.2" fill="white"/>
        <rect x="10" y="10.4" width="28" height="3.2" fill="white"/>
      </svg>    
    }
    #hamburger{
        display: block;
    
    }
    .banner{
        flex-direction: column;
        width: 350px;
    }
    .card-b{
        transform: translateX(200px);
    }
    .habits-container{
        flex-direction: column;
    }
    .fit{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }
    .run-all{
        flex-direction: column;
        gap: 20px;
    }

    
}